body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #000000;
}

header {
    background-color: #363636;
    color: #fff;
    padding: 20px;
    text-align: right;
}

.header-content {
    display: inline-block;
}

.profile-img-container {
    position: absolute;
    top: 20px;
    left: 80px;
    width: 200px; /* Ancho deseado de la imagen */
    height: 200px; /* Altura deseada de la imagen */
    overflow: hidden;
    border-radius: 50%; /* Para hacer un círculo con la imagen */
    border: 10px solid #363636; /* Borde blanco alrededor de la imagen */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-img-container img {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; /* Cambia la dirección del flexbox a columna en dispositivos pequeños */
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.sidebar {
    width: 300 px; 
    background-color: #c0bebe;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ocupa el 100% del ancho disponible */
    max-width: 400px; /* Máximo ancho para la barra lateral */
}

.main-content {
    flex: 1; /* Sección principal ocupa el espacio restante */
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Máximo ancho para el contenido principal */
    margin-left: 20px; /* Añade un margen a la izquierda */
}

section {
    margin: 40px 0; /* Agrega un margen superior e inferior de 40 píxeles */
}

h2 {
    text-align: center; /* Centra el título horizontalmente */
    margin-bottom: 20px; /* Agrega un margen inferior de 20 píxeles al título */
}

ul {
    list-style-type: disc; /* Utiliza círculos como viñetas */
    padding-left: 20px; /* Agrega un espacio de 20 píxeles a la izquierda de la lista */
}

li {
    margin-bottom: 10px; /* Agrega un margen inferior de 10 píxeles a cada elemento de la lista */
}

.icon {
    width: 20px; /* Tamaño deseado de las imágenes */
    height: 20px;
    margin-right: 10px; /* Espacio a la derecha de las imágenes */
}

footer {
    background-color: #363636;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px; /* Espacio entre los íconos */
}

.social-icons img {
    width: 40px; /* Tamaño deseado de los íconos */
    height: 40px;
    transition: transform 0.3s ease; /* Efecto de transición al pasar el mouse */
}

.social-icons img:hover {
    transform: scale(1.1); /* Efecto de escala al pasar el mouse */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Cambia la dirección del flexbox a columna en dispositivos pequeños */
    }

    .sidebar, .main-content {
        width: 100%; /* Ocupa el 100% del ancho disponible */
        max-width: none; /* Reinicia el máximo ancho */
        margin-left: 0; /* Elimina el margen a la izquierda */
    }
}